<app-datail-client *ngIf="clienteSelect" [cliente]="clienteSelect"></app-datail-client>
<div class="card border-primary mb-3" >
    <div class="card-header">Clientes</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Clientes</h5>
      
      <div class="my-2 text-left">
          <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']">Crear Cliente</button>
      </div>  

      <div class="alert alert-info" *ngIf="clientes?.length === 0">
        No hay registros en la base de datos
      </div>

      <table class="table table-bordered table-striped text-primary" *ngIf="clientes?.length > 0">
        <thead>
            <tr>
                <td>Perfil</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Email</td>
                <td>Fecha de Creación</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td> 
                    <img (click)="selectClient(cliente)" *ngIf="cliente?.foto" src="http://localhost:8090/api/v1/clients/uploads/img/{{cliente.foto}}" alt="{{cliente.foto}}" class="img-thumbnail rounded"
                    style="width: 4rem; cursor: pointer;">
                    <img (click)="selectClient(cliente)" *ngIf="!cliente?.foto" src="../../assets/user.svg" alt="sin foto" class="img-thumbnail rounded"
                    style="width: 4rem; cursor: pointer;">
                </td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.createAt }}</td>
                <td>
                    <button class="btn btn-primary btn-sm" type="button" name="editar" [routerLink]="['/clientes/form/', cliente.id]" >Editar</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" type="button" name="eliminar" (click)='delete(cliente)' >Eliminar</button>
                </td>
            </tr>
        </tbody>
      </table>
      <app-paginator *ngIf="paginador" [paginador]="paginador"></app-paginator>
    </div>
</div>